@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
.page-header h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.page-header h1 span {
    color: #bb0e0e;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.subheading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #bb0e0e;
}

/* contact section css rules */
#contact {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

#contact .icon {
    width: 1em;
    height: 1em;
}

#contact span:nth-child(n+2)::before {
    content: "|";
    padding-left: 1em;
    padding-right: 1em;
}

/* skills section css rules */
#skills tr td:nth-child(1) {
    font-weight: bold;
    padding-right: 10px;
    /* text-align: right; */
}